.todo-manager {
    background-color: #101829;
    width: 24rem;
    border-radius: 8px;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
    transform: translateY(calc(20% - 20vh));
    max-height: 90vh;
    padding: 2rem 1rem;
    box-shadow: 0 2px 8px 0 #101829;

    h2 {
        text-align: center;
        color: #edf2f8;
        font-weight: normal;
    }

    .todos-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            display: none;
        }
    }
}