.input-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 4px;
    margin: 1rem 2px;
    background: linear-gradient(270deg, #8c13d0, #2a147d 15%);

    input {
        outline: none;
        border: none;
        margin: 2px;
        flex: 1;
        padding: 12px;
        background-color: #101829;
        color: #f2f2f2;
        border-radius: 4px;

        &::placeholder {
            color: #b4bacd;
            font-size: 0.8rem;
        }
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
        color: #f2f2f2;
        border-radius: 4px;
        padding: 0 12px;
        cursor: pointer;
        min-width: 3rem;
    }
}