.todo-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: silver;
	border-radius: 4px;
	padding: 8px 1rem;
	font-size: 1rem;

	.todo-actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;

		* {
			border: none;
			outline: none;
			background-color: transparent;
			cursor: pointer;
		}
	}
}